<% if @article.errors.any? %>
    <h2>Couldnt edit article</h2>
    <ol>
        <% @article.errors.full_messages.each do |err_msg| %>
            <li>
            <%= err_msg%>
            </li>
        <% end %>
    </ol>
<% end %>


<%= render 'form'%>